<div class="header__container">

    <!-- logo -->
    <a href="/admin" class="header__logo"><i>Blogo</i></a>

    <!-- menu bar -->
    <div class="header__bar">
    <a href="/about" class="bar__menu">About</a>
    <a href="/contact" class="bar__menu">Contact</a>
    <a href="/blog" class="bar__menu">Blog</a>
    </div>

    <!-- search -->
    <div class="header__search">
        <button class="btn" aria-expanded="false">
            logout
            
        </button>
    </div>
</div>