<div class="searchBar">
    <div class="container__search">
       <form action="/search" class="search__form" method="POST" role="search">
           <input
           type="search"
           aria-label="Search"
           id="searchInput"
           name="searchTerm"
           placeholder="search the site ..."/>
       </form>
       <div id="searchClose">Close</div>
    </div>
   </div>