<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" defer src="/js/scripts.js"></script>
    <title><%- local.title %></title>
</head>
<body>
    <div class="Maincontainer">
    <%- include('../partials/admin__header') %>
    <%- body %>
    <%- include('../partials/footer') %>
    </div>
    
</body>
</html>